#header {
    background-color: #313131;
    height: 62px;
    background-image: linear-gradient(80deg, #60dd96, #4acfb9);
}

#deco_blanc {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
}

#deco_blanc2 {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    top: 52px;
}

#f_logo {
    width: 102px;
    height: 61px;
    background-color: #393939;
    cursor: pointer;
    top: -1px;
    position: relative;
}

#logo {
    background-image: url(http://localhost/LAVAL/public/img/logo.png);
    width: 76px;
    height: 36px;
    position: relative;
    top: 5px;
}

#menu { 
    position: relative;
    font-size: 13px;
    font-family: ‘Maven Pro’, Arial, serif;
    font-weight: 400;
    color:  #fff;
    cursor: pointer;
    display: inline;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #313131;
  border-color: transparent;
}

body {
	background-color: #ebebeb;
}


.contcolor {
	border: 10px solid #dfdfdf;
	background-image: linear-gradient(80deg, #7fbe8c, #77b7ae);
}

#deco_blanc3 {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    top: 10px;
}

.cadre {
	margin-top: 30px;
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;
}

.entete {
	height: 30px;
    background-color: #393939;
}
.enteteFlou {
	background-image: url(http://localhost/LAVAL/public/img/img_f2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0;
	padding:0;
}

.cercle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 224px;
    -moz-border-radius: 224px;
    border-radius: 222px;
    background-color: #393939;
    -moz-box-shadow: 0px 0px 15px 0px #656565;
    -webkit-box-shadow: 0px 0px 15px 0px #656565;
    -o-box-shadow: 0px 0px 15px 0px #656565;
    box-shadow: 0px 0px 15px 0px #656565;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=15);
    position: relative;
    top: 28px;
    left: 40px;
}

.enteteFlou h1 {
	float: right;
	font-size: 20px;
    color: #393939;
    right: 25px;
    top: 70px;
    font-family: "Maven Pro", Arial, serif;
    font-weight: 900;
	margin: 0;
	padding: 0;
	position: relative;
}

.panelCategorie {
	background-color: #e8f8f4;
	padding-top: 20px;
	min-height: 300px;
}

.panel-body h1 {
	font-size: 14px;
    color: #393939;
    font-family: 'Source Sans Pro';
    font-weight: 900;
}

.panel-body p {
	font-size: 13px;
    color: #393939;
    text-align: justify;
}

.formConnexion {
	padding-left: 20px;
	padding-right: 20px;
}

legend {
    font-size: 14px;
    color: #393939;
    font-family: 'Source Sans Pro';
    font-weight: 900;
}

a {
    font-size: 12px;
    color: #505050;
    text-decoration: none;
}

a:hover {
    font-size: 12px;
    color: #49ceb8;
    text-decoration: none;
}

.help-block {
	margin-top: 10px;
}

.help-block:hover {
	margin-top: 10px;
	color: #49ceb8;
}

.creaCompteDiv{
	margin: 0;
	padding: 0;
}

.btn a {
	color: #505050;
	text-decoration: none;
}

.btn a:hover {
	color: #49ceb8;
	text-decoration: none;
}

